In [3]:
import pandas as pd
df1 = pd.read_csv('world.csv')

In [4]:
df2 = df1[['洲名','國家','日期','總確診數','新增確診數','總人口數','解封指數']]

In [5]:
df3 = df2.query('國家 == "台灣"')

In [21]:
df4 = df3.sort_values(by = '新增確診數',ascending = False)
df4[:5]

        洲名  國家          日期     總確診數   新增確診數      總人口數    解封指數
164835  亞洲  台灣  2022-05-14   699824  128954  23855008   46.24
164830  亞洲  台灣  2022-05-09   397504  128935  23855008   25.86
164848  亞洲  台灣  2022-05-27  1735067   94796  23855008  116.08
164840  亞洲  台灣  2022-05-19  1070561   89420  23855008   71.25
164846  亞洲  台灣  2022-05-25  1558380   89361  23855008  104.15

In [22]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 903 entries, 164835 to 163986
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   洲名      903 non-null    object
 1   國家      903 non-null    object
 2   日期      903 non-null    object
 3   總確診數    903 non-null    int64
 4   新增確診數   903 non-null    int64
 5   總人口數    903 non-null    int64
 6   解封指數    903 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 56.4+ KB

In [25]:
#inplace=True是真的換index
df4.set_index("日期", inplace=True)

In [26]:
df4

            洲名  國家     總確診數   新增確診數      總人口數      解封指數
日期
2022-05-14  亞洲  台灣   699824  128954  23855008     46.24
2022-05-09  亞洲  台灣   397504  128935  23855008     25.86
2022-05-27  亞洲  台灣  1735067   94796  23855008    116.08
2022-05-19  亞洲  台灣  1070561   89420  23855008     71.25
2022-05-25  亞洲  台灣  1558380   89361  23855008    104.15
...         ..  ..      ...     ...       ...       ...
2020-02-15  亞洲  台灣       18       0  23855008  99999.00
2020-02-18  亞洲  台灣       22       0  23855008     10.52
2020-01-18  亞洲  台灣        0       0  23855008  99999.00
2020-01-17  亞洲  台灣        0       0  23855008  99999.00
2020-01-16  亞洲  台灣        0       0  23855008  99999.00

[903 rows x 6 columns]